<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{% block body %}	
					{% endblock %}
				</div>
			</div>
		</div>
		<script language="JavaScript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script>
		{% block script %}
		{% endblock %}
	</body>
</html>